{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{% static 'bryntum-grid/grid.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'bryntum-grid/svalbard-light.css' %}"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"/>
    <style>
        body { font-family: Poppins, sans-serif; }
    </style>
</head>
<body>
<script type="module" src="{% static 'bryntum-grid/grid.config_save.js' %}"></script>
</body>
</html>