{% extends 'base.html' %}
{% block head %}
<title>見積一覧</title>
{% endblock %}

{% block contents %}

<body>
<div id="layout-main-container" style="margin-top: 6rem; --layout-max-width: 1800px;"></div>

<script>

    // 1. 日本語のロケールデータを定義
    // const localeJa = {
    //     monthsShort: ["1月", "2月", "3月", "4月", "5月", "6月", "7月", "8月", "9月", "10月", "11月", "12月"],
    //     months: ["1月", "2月", "3月", "4月", "5月", "6月", "7月", "8月", "9月", "10月", "11月", "12月"],
    //     daysShort: ["日", "月", "火", "水", "木", "金", "土"],
    //     days: ["日曜日", "月曜日", "火曜日", "水曜日", "木曜日", "金曜日", "土曜日"]
    // };

    // 2. フォーム初期化前にロケールを適用
    // dhx.i18n.setLocale("calendar", localeJa);

    //  2. --- モーダルウインドウの準備 ---
    dhxWindow = new dhx.Window({
        width: 1200,
        height: 1000,
        title: "新規",
        modal: true,
        closable: true, // 閉じられるように設定
        movable: true
    });

    // 3. --- フォームの準備 ---
    form = new dhx.Form(null, {
        css: "dhx_widget--bordered",
        rows: [
            {
                type: "input",
                name: "id",
                hidden: true
                // 見えないが値は保持される
            },
            {
                name: "client",
                type: "input",
                label: "事業者",
                required: false,
                hidden: true
            },
            {type: "input", name: "id", hidden: true}, // 見えないが値は保持される
            {
                cols: [
                    {
                        name: "estimate_date",
                        type: "datepicker",
                        label: "見積年月日",
                        dateFormat: "%Y-%m-%d",
                        required: true,
                        labelPosition: "left",
                        labelWidth: "130px",
                        width: 300,
                        css: "my-custom-required" // 任意のクラス名を追加

                    },
                    {
                        name: "estimate_print_date",
                        type: "datepicker",
                        dateFormat: "%Y-%m-%d",
                        label: "見積書作成日",
                        labelPosition: "left",
                        labelWidth: "130px",
                        width: 300

                    },
                    {
                        name: "markup_rate",
                        type: "input",
                        label: "歩掛率",
                        required: true,
                        labelPosition: "left",
                        labelWidth: "130px",
                        css: "my-custom-required", // 任意のクラス名を追加
                        width: 300

                    },

                ]

            },
            {
                cols: [

                    {
                        name: "fiscalyear",
                        type: "combo",
                        label: "受注年度",
                        required: true,
                        labelPosition: "left",
                        labelWidth: "130px",
                        width: 320,
                        css: "my-custom-required" // 任意のクラス名を追加
                    },
                    {
                        name: "estimate_no",
                        type: "input",
                        label: "見積番号",
                        required: true,
                        labelPosition: "left",
                        labelWidth: "130px",
                        width: 300,
                        css: "my-custom-required" // 任意のクラス名を追加
                    },
                    {
                        name: "estimate_branch_no",
                        type: "input",
                        label: "見積枝番号",
                        labelPosition: "left",
                        labelWidth: "130px",
                        width: 220,
                    },


                ]

            },

            {
                name: "estimate_name",
                type: "input",
                label: "工事名称",
                required: true,
                labelPosition: "left",
                labelWidth: "130px",
                css: "my-custom-required" // 任意のクラス名を追加

            },
            {
                name: "estimate_branch_name",
                type: "input",
                labelPosition: "left",
                labelWidth: "130px",
                label: "工事枝番名称",

            },
            {
                cols: [
                    {
                        name: "orderer_name1",
                        type: "input",
                        label: "発注者名",
                        helpMessage: "発注者の検索",
                        required: true,
                        labelPosition: "left",
                        labelWidth: "130px",
                        css: "my-custom-required" // 任意のクラス名を追加

                    },
                    {
                        type: "spacer",
                        width: 20 // 横に20pxの間隔を開ける
                    },
                    {
                        name: "orderer_name2",
                        type: "input",
                        labelPosition: "left",
                        labelWidth: "130px",
                        label: "発注者名 下段",
                    },
                ]
            },
            {
                cols: [
                    {
                        name: "orderer_representative",
                        type: "input",
                        labelPosition: "left",
                        labelWidth: "130px",
                        label: "発注代表者",
                    },
                    {
                        type: "spacer",
                        width: 20 // 横に20pxの間隔を開ける
                    },
                    {
                        name: "orderer_person",
                        type: "input",
                        labelPosition: "left",
                        labelWidth: "130px",
                        label: "発注担当者",
                    }

                ]
            },


            {
                name: "contract_zip_code",
                type: "input",
                label: "郵便番号",
                labelPosition: "left",
                labelWidth: "130px",
                width: 250
            },
            {
                cols: [
                    {
                        name: "contract_address1",
                        type: "input",
                        label: "現場住所１",
                        labelPosition: "left",
                        labelWidth: "130px",
                    },
                    {
                        name: "contract_address2",
                        type: "input",
                        label: "現場住所２",
                        labelPosition: "left",
                        labelWidth: "130px",
                    },
                ]
            },
            {
                cols: [
                    {
                        name: "customer",
                        type: "combo",
                        helpMessage: "得意先の検索",
                        label: "得意先",
                        required: true,
                        labelPosition: "left",
                        labelWidth: "130px",
                        css: "my-custom-required", // 任意のクラス名を追加

                    },
                    {
                        name: "segment",
                        type: "combo",
                        label: "部門",
                        required: false,
                        labelPosition: "left",
                        labelWidth: "130px"
                    },
                    {
                        name: "user",
                        type: "combo",
                        label: "担当者",
                        required: false,
                        labelPosition: "left",
                        labelWidth: "130px"
                    },
                ]
            },
            {
                rows: [
                    {
                        align: "between",
                        cols: [
                            {
                                type: "fieldset",
                                name: "estimate_info",
                                label: "工事利益情報",
                                labelAlignment: "center",
                                width: "29%",
                                rows: [
                                    {
                                        rows: [
                                            {
                                                name: "estimate_amount",
                                                type: "input",
                                                label: "見積金額(税抜)",
                                                labelPosition: "left",
                                                required: true,
                                                labelWidth: "120px",
                                                css: "my-custom-required", // 任意のクラス名を追加
                                                width: "100%"
                                            },
                                            {
                                                name: "estimate_budget",
                                                type: "input",
                                                label: "実行予算額",
                                                labelPosition: "left",
                                                labelWidth: "120px",
                                                width: "100%"
                                            },
                                            {
                                                name: "estimate_income",
                                                type: "text",
                                                label: "粗利益",
                                                labelPosition: "left",
                                                labelWidth: "120px",
                                                width: "100%"
                                            },
                                            {
                                                name: "estimate_income_rate",
                                                type: "text",
                                                label: "粗利益率",
                                                labelPosition: "left",
                                                labelWidth: "120px",
                                                width: "100%"
                                            },
                                            {
                                                name: "estimate_tax_amount",
                                                type: "input",
                                                label: "消費税額",
                                                labelPosition: "left",
                                                labelWidth: "120px",
                                                width: "100%"
                                            },
                                            {
                                                name: "consumption_cls",
                                                type: "radioGroup",
                                                label: "消費税区分",
                                                required: true,
                                                labelPosition: "top",  // ラベルを左側に配置
                                                labelWidth: "120px",    // ラベルの横幅を固定
                                                // css: "custom-radio-align",
                                                options: {
                                                    cols: [
                                                        {value: "1", text: "内税"},
                                                        {value: "2", text: "外税"},
                                                        {value: "3", text: "非課税"},
                                                    ]
                                                },
                                                css: "my-custom-required", // 任意のクラス名を追加
                                                width: "100%"
                                            },


                                        ]
                                    },
                                ]
                            },

                            {
                                type: "spacer",
                                width: "2%" // 横に20pxの間隔を開ける
                            },

                            {
                                type: "fieldset",
                                name: "another",
                                label: "請負条件",
                                labelAlignment: "center",
                                width: "35%",
                                rows: [
                                    {

                                        name: "estimate_limit_date",
                                        type: "datepicker",
                                        dateFormat: "%Y-%m-%d",
                                        label: "見積有効期限",
                                        labelPosition: "left",
                                        labelWidth: "130px",
                                        width: 300,
                                    },

                                    {
                                        name: "payment_term",
                                        type: "input",
                                        label: "支払条件",
                                        labelPosition: "left",
                                        labelWidth: "130px",
                                        width: "100%"
                                    },
                                    {
                                        name: "estimate_start_date",
                                        type: "datepicker",
                                        label: "工事開始予定日",
                                        dateFormat: "%Y-%m-%d",
                                        labelPosition: "left",
                                        labelWidth: "130px",
                                        width: 300,
                                    },
                                    {
                                        name: "estimate_end_date",
                                        type: "datepicker",
                                        dateFormat: "%Y-%m-%d",
                                        label: "工事完成予定日",
                                        labelPosition: "left",
                                        labelWidth: "130px",
                                        width: 300,
                                    },
                                    {
                                        name: "delivery_location",
                                        type: "input",
                                        label: "受渡場所",
                                        labelPosition: "left",
                                        labelWidth: "130px",
                                        width: "100%"
                                    },
                                    {
                                        name: "summary",
                                        type: "textarea",
                                        label: "備考",
                                        labelPosition: "left",
                                        labelWidth: "130px",

                                    },
                                ]
                            },
                            {
                                type: "spacer",
                                width: "2%" // 横に20pxの間隔を開ける
                            },
                            {
                                type: "fieldset",
                                name: "another2",
                                label: "その他",
                                labelAlignment: "center",
                                width: "30%",
                                rows: [
                                    {
                                        name: "estimate_status",
                                        type: "radioGroup",
                                        label: "受注状態区分",
                                        required: true,
                                        labelPosition: "top",  // ラベルを左側に配置
                                        labelWidth: "120px",    // ラベルの横幅を固定
                                        // css: "custom-radio-align",
                                        options: {
                                            cols: [
                                                {value: "1", text: "見積"},
                                                {value: "2", text: "受注"},
                                                {value: "3", text: "留保"},
                                                {value: "4", text: "失受"},
                                            ]
                                        },
                                        css: "my-custom-required", // 任意のクラス名を追加
                                        width: "100%"
                                    },
                                    {
                                        name: "construction",
                                        type: "combo",
                                        label: "請負形態",
                                        labelPosition: "left",
                                        labelWidth: "60px",
                                        width: 300

                                    },


                                ]

                            },
                        ]

                    }

                ]
            },
            {
                cols: [
                    {
                        type: "button",
                        name: "save",
                        text: "保存",
                        view: "flat",
                        color: "primary"
                    }
                ]
            },
        ]
    });
    // ★外部ファイルの共通関数を呼び出す（これだけでEnter移動が有効になります）
    enableFormEnterNavigation(form);
    //setupJapaneseCalendar(form, "estimate_date"); // 日本のカレンダー
    dhxWindow.attach(form);

    // ===================================================
    // 3. DATA LOADING （データ通信・サーバーとのやり取り）
    // ===================================================

    fetch("/api/get_current_client/")
        .then(res => res.json())
        .then(data => {
            client_id = data['current-client'].client_id;
            const client_no = data['current-client']["client_no"];
            const client_name = data['current-client']['client_name'];
            client_markup_rate = data['current-client'].markup_rate;

            // 💡 フォームの初期化が終わっているので、安全に初期値をセットできる
            if (client_id && form) {
                form.setValue({client: String(client_id)});
            }

            // 年度のデータセット
            const fiscalYearCombo = form.getItem("fiscalyear").getWidget();
            fiscalYearCombo.data.load(`/api/fiscalyears/${client_id}/`);

            let use_flg = "0";
            // 得意先のデータセット
            const customerNameCombo = form.getItem("customer").getWidget();
            customerNameCombo.data.load(`/api/customers/${client_id}/${use_flg}/`);

            // 部門のデータセット
            const segmentNameCombo = form.getItem("segment").getWidget();
            segmentNameCombo.data.load(`/api/segments/${client_id}/${use_flg}/`);

            // 利用者のテータセット
            const userNameCombo = form.getItem("user").getWidget();
            userNameCombo.data.load(`/api/users/${client_id}/${use_flg}/`);


            // 受注状態区分
            const constructionNameCombo = form.getItem("construction").getWidget();
            constructionNameCombo.data.load(`/api/constructions/${client_id}/`);

    // ===================================================
    // 4. EVENTS （ボタン操作・イベントリスナー）
    // ===================================================

        // 6.1 新規作成のウインドウを表示する
    function addRow() {
        if (form) {
            form.clear({});
            form.setValue({markup_rate: client_markup_rate});
            form.setValue({client_id: client_id})
            //form.setValue({client_no:client_no})
            //form.setValue({client_name:client_name})

        }
        dhxWindow.header.data.update("title", {value: "新規登録"});
        dhxWindow.setPosition(100, 50);
        dhxWindow.paint();
        dhxWindow.show();
    }

    //　UPDATE: 6.3. 保存ボタンの処理
    //　UPDATE: 6.3. 保存ボタンの処理
    form.getItem("save").events.on("click", () => {

        // 6.3.1 バリデーションを実行
        const isValid = form.validate();

        if (!isValid) {
            // フォーム全体の「現在の入力値（各キー）」を取得
            const info = form.getValue();

            // 最初のエラーアイテムのIDを特定する
            const firstErrorId = Object.keys(info).find(itemId => {
                const item = form.getItem(itemId);
                if (item && typeof item.validate === "function") {
                    // 画面表示を変えずにバリデーション結果（成否）のみ判定
                    return item.validate(true) === false;
                }
                return false;
            });

            if (firstErrorId) {
                // 【重要】Suite 9 の正しいフォーカス設定方法（フォーム本体のメソッドを使用）
                if (typeof form.setFocus === "function") {
                    form.setFocus(firstErrorId);
                }

                // 念のため、Comboコンポーネントなどの特殊なコントロールだった場合のフォールバック処理
                const item = form.getItem(firstErrorId);
                if (item && typeof item.getWidget === "function") {
                    const widget = item.getWidget();
                    if (widget && typeof widget.focus === "function") {
                        widget.focus();
                    }
                }
            }

            console.log('firstErrorId:', firstErrorId, 'formData:', info);
            return;
        }

        // 6.3.2. バリデーション成功後に値を取得
        const formData = form.getValue();
        console.log("送信データ:", formData);
        const isNew = !formData.id || formData.id === "";
        console.log("送信データ:", formData);
        // 6.3.3. 新規(POST)か更新(PUT)の判定
        const url = isNew ? `/estimate/add/${client_id}/` : `/estimate/estimates/${formData.id}/`;
        const method = isNew ? "POST" : "PUT";
        // 6.3.4. 通信開始
        fetch(url, {
            method: method,
            headers: {
                "Content-Type": "application/json",
                "X-CSRFToken": getCookie('csrftoken')
            },
            body: JSON.stringify(formData)
        })
            .then(res => {
                if (!res.ok) {
                    // DRFのバリデーションエラー(400)などをキャッチ
                    return res.json().then(err => {
                        throw err;
                    });
                }
                return res.json();
            })
            .then(result => {
                dhx.message({
                    text: isNew ? "追加されました" : "更新されました",
                    css: "dhx_widget--bg_success",
                    expire: 3000
                });
                // 2. ウィンドウを閉じる
                dhxWindow.hide();
                // 3. 古いグリッドデータをクリア
                grid.data.removeAll();
                // fetchの連鎖（async/awaitを使うともっと綺麗に書けます）
                return fetch(`/estimate/lists/${client_id}/${sql}/`);
            })
            .then(res => {
                if (!res || !res.ok) {
                    throw new Error("データの再読み込みに失敗しました");
                }
                return res.json();
            })
            .then(data => {
                if (data) grid.data.parse(data);
                // grid.data.forEach(row => {
                //     if (row.estimate_year) years.push(Number(row.estimate_year));
                // });

                // if (years.length > 0) {
                //     const maxYear = Math.max(...years);
                //     grid.getHeaderFilter("estimate_year").setValue(String(maxYear));
                // }
            })
            .catch(err => {
                console.error(err);
                // Django(DRF)のエラーは {"field_name": ["error message"]} の形式で来ることが多いです
                let msg = "エラーが発生しました";
                if (typeof err === 'object') {
                    // 最初のエラー内容を抽出して表示
                    const firstKey = Object.keys(err)[0];
                    msg = Array.isArray(err[firstKey]) ? err[firstKey][0] : (err.detail || msg);
                }
                dhx.message({text: msg, css: "dhx_widget--bg_danger"});
            });
    });
//　UPDATE: 6.3. 保存ボタンの処理
    form.getItem("save").events.on("click", () => {

        // 6.3.1 バリデーションを実行
        const isValid = form.validate();

        if (!isValid) {
            // フォーム全体の「現在の入力値（各キー）」を取得
            const info = form.getValue();

            // 最初のエラーアイテムのIDを特定する
            const firstErrorId = Object.keys(info).find(itemId => {
                const item = form.getItem(itemId);
                if (item && typeof item.validate === "function") {
                    // 画面表示を変えずにバリデーション結果（成否）のみ判定
                    return item.validate(true) === false;
                }
                return false;
            });

            if (firstErrorId) {
                // 【重要】Suite 9 の正しいフォーカス設定方法（フォーム本体のメソッドを使用）
                if (typeof form.setFocus === "function") {
                    form.setFocus(firstErrorId);
                }

                // 念のため、Comboコンポーネントなどの特殊なコントロールだった場合のフォールバック処理
                const item = form.getItem(firstErrorId);
                if (item && typeof item.getWidget === "function") {
                    const widget = item.getWidget();
                    if (widget && typeof widget.focus === "function") {
                        widget.focus();
                    }
                }
            }

            console.log('firstErrorId:', firstErrorId, 'formData:', info);
            return;
        }

        // 6.3.2. バリデーション成功後に値を取得
        const formData = form.getValue();
        console.log("送信データ:", formData);
        const isNew = !formData.id || formData.id === "";
        console.log("送信データ:", formData);
        // 6.3.3. 新規(POST)か更新(PUT)の判定
        const url = isNew ? `/estimate/add/${client_id}/` : `/estimate/estimates/${formData.id}/`;
        const method = isNew ? "POST" : "PUT";
        // 6.3.4. 通信開始
        fetch(url, {
            method: method,
            headers: {
                "Content-Type": "application/json",
                "X-CSRFToken": getCookie('csrftoken')
            },
            body: JSON.stringify(formData)
        })
            .then(res => {
                if (!res.ok) {
                    // DRFのバリデーションエラー(400)などをキャッチ
                    return res.json().then(err => {
                        throw err;
                    });
                }
                return res.json();
            })
            .then(result => {
                dhx.message({
                    text: isNew ? "追加されました" : "更新されました",
                    css: "dhx_widget--bg_success",
                    expire: 3000
                });
                // 2. ウィンドウを閉じる
                dhxWindow.hide();
                // 3. 古いグリッドデータをクリア
                grid.data.removeAll();
                // fetchの連鎖（async/awaitを使うともっと綺麗に書けます）
                return fetch(`/estimate/lists/${client_id}/${sql}/`);
            })
            .then(res => {
                if (!res || !res.ok) {
                    throw new Error("データの再読み込みに失敗しました");
                }
                return res.json();
            })
            .then(data => {
                if (data) grid.data.parse(data);
                // grid.data.forEach(row => {
                //     if (row.estimate_year) years.push(Number(row.estimate_year));
                // });

                // if (years.length > 0) {
                //     const maxYear = Math.max(...years);
                //     grid.getHeaderFilter("estimate_year").setValue(String(maxYear));
                // }
            })
            .catch(err => {
                console.error(err);
                // Django(DRF)のエラーは {"field_name": ["error message"]} の形式で来ることが多いです
                let msg = "エラーが発生しました";
                if (typeof err === 'object') {
                    // 最初のエラー内容を抽出して表示
                    const firstKey = Object.keys(err)[0];
                    msg = Array.isArray(err[firstKey]) ? err[firstKey][0] : (err.detail || msg);
                }
                dhx.message({text: msg, css: "dhx_widget--bg_danger"});
            });
    });
