{% extends 'base.html' %}
{% block title %}Change Password | ecoDocuments{% endblock %}
{% block contents %}
<div class="container">
    <div class="row">
        <div class="col-4">
        </div>
        <div class="col-4">
            <div class="my-div-style">
                <div>
                    <h3>仮ユーザー登録</h3>
                    <div class="mt-4">
                        <p>未承認のユーザが登録されました。</p>
                        <p>承認されますとご利用できます。</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}