{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% block title %}パスワードリセット | ecoDocuments{% endblock %}
{% block contents %}
<div class="container">
    <div class="row">
        <div class="col-4">
        </div>
        <div class="col-4">
            <div class="my-div-style">
                <div class="my-div-border">
                    <h3>パスワードリセット</h3>
                    {% if user.is_authenticated %}
                    {% include "account/snippets/already_logged_in.html" %}
                    {% endif %}
                    <p>パスワードリセット用メールを送信します。</p>
                    <form method="post" action="{% url 'account_reset_password' %}">
                        {% csrf_token %}
                        {% bootstrap_form form %}
                        <button class="btn btn-primary" type="submit">送信</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}