/* ----固定のリストのための css---- */

/* ヘッダーを固定しスクロール可能にして背景を透明から白に変える*/
.sticky-top{
  background-color: #FFFFFF;
  margin-left:auto;
}
/*テーブルの左をスクロールさせない*/
.fix-list .table th:first-child, td:first-child {
  position: sticky;
  position: -webkit-sticky;
  left: 0;
  background-color : #FFFFFF;
}

/* 画面を縮小してもタイトルを折り返さない*/
.text-nowrap { white-space: nowrap !important; }

/* リスト用条件指定行 # id . class */
#flexSelect{
  display:flex;
  background:;
  align-items:center;
  width: 100%;
  height:40px;
}
.flexSelect{
  display:flex;
  align-items:center;
  background:;
  width: 100%;
  height:40px;
}
.select-item{
  display:inline-flex;
  background:;
  margin-left:10px;
  margin-right:15px;
  border:0px solid #ddd;
}

/* リスト用ボタンの行  # id . class*/
#flexButton{
  display:flex;
  background:;
  align-items:center;
  width: 100%;
  height:40px;
}
.button-item{
  display:inline-flex;
  background:;
  margin-left:10px;
  margin-bottom:0px;
  margin-top:0px;
  border:0px solid #ddd;
}
