{% extends 'base.html' %}
{% load static %}
{% block header %}
<div class="my-div-style">
    <div class="container">
        <div class="row">
            <h3 class="my-3 text-center">見積書インポート(EXCEL)</h3>
        </div>
        <div clas="col-md-3 col-lg-6 text-center">
            <div class="dropzone" id="dropzone">Drop files here</div>
        </div>
</div>
{% endblock %}
{% block contents %}
<div class="container">
    <div class="row">
        <div class="col-12 mx-6 text-left" offset-3>
            <table class="my-3 mb-2 bg-light text-black table-bordered">
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form }}
                    <input class="btn btn-success col-md-2" type="submit" id="button" name="button" value="インポート">
                </form>
            </table>
        </div>
    </div>
</div>
<script src="{% static  './js/dropzone.js' %}" defer></script>

{% endblock %}