.dhx_grid-header-cell {
    text-align: center;
    justify-content: center;
}

.dhx_form-group__label-required {
    color: #ff0000 !important; /* 好みの赤色に変更してください */
    margin-left: 4px;           /* 少し隙間をあけると見やすいです */
}

/* 必須エラー用のスタイル */
.required-error {
    background: #fff0f0 !important; /* 薄い赤背景 */
    border: 1px solid #ff4d4d !important; /* 赤い枠線 */
}
.grid-btn-edit {
  border: 1px solid #28a745; /* 線の太さ、種類、色を指定 */
  background-color: transparent;
  color: #28a745;
}

.grid-btn-delete {
 border: 1px solid #dc3545;
 background-color: transparent;
 color: #dc3545;
}

.grid-btn-detail {
 border: none;!important;
 background-color: transparent;
 text-decoration: none; /* これでアンダーラインが消えます */
 color: #007bff;
 font-size: 14px;
}

.dxi.dxi-pencil {
    background: none !important;    /* 背景を透明にする */
    border: none !important;        /* 枠線を消す */
    outline: none !important;       /* フォーカス時の線を消す */
    box-shadow: none !important;    /* 影がある場合は消す */
}

/* ホバー時も同様に手を出したい場合 */
.dxi.dxi-pencil:hover {
    color: red;          /* ホバー時の色（少し濃い青など） */
}

.dxi.dxi-delete {
    background-color: transparent;   /* 背景を透明にする */
    border: none !important;        /* 枠線を消す */
    outline: none !important;       /* フォーカス時の線を消す */
    box-shadow: none !important;    /* 影がある場合は消す */
}

.dxi.dxi-delete:hover {
    color: red;         /* ホバー時の色（少し濃い青など） */
    /* もし背景色も変えたい場合は background-color を指定してください */
}

.dhx_message-container {
    top: 50px;
}

html, body {
  height: 100%;       /* 画面全体の高さを確保 */
  margin: 0;          /* ブラウザ特有の余白を消去 */
}

body {
  display: grid;
  place-content: center; /* 上下左右のちょうど中央に配置 */
}