{% load static %}
{% csrf_token %}
<html lang="ja">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block title %}{% endblock %}</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i"
          rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'css/one-page-wonder.css' %}" rel="stylesheet">

    <!-- My style -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/myStyle.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/list.css' %}">
    <link rel="stylesheet" href="{% static 'suite/myStyle.css' %}">
    <link rel="stylesheet" href="{% static 'suite/suite.css' %}">
    <!-- My js -->
    <!-- DHTMLX SuiteのJS/CSSを読み込み -->
    <script src="{% static 'suite/suite.js' %}"></script>
    <!-- 共通ユーティリティ -->
    <script src="{% static 'js/utils.js' %}"></script>
    <!-- Grid ReturnKey -->
    <script src="{% static 'js/dhx-grid-enter-nav.js' %}"></script>
    <!--Form returnKey -->
    <script src="{% static 'js/dhx-form-enter-nav.js' %}"></script>
    <!-- 共通のレイアウト設定ファイルを先に読み込む -->
    <script src="{% static 'js/layout-config.js' %}"></script>
    <!-- 日本の祝日判定ライブラリ (GitHub公式配信のCDN) -->
<!--    <script src="https://jsdelivr.net"></script>-->
    <!-- 日本の休日に対応したカレンダー -->
<!--    <script src="{% static 'js/calendar-jp.js' %}"></script>-->

    <!-- 共通CSSもここで読み込んでおく -->
    <link rel="stylesheet" href="{% static 'suite/layout-common.css' %}">

    {% block head %}{% endblock %}
</head>

<div id="wrapper" 　class="flex-grow-1">
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
        <div class="container px-1">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                    aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse align-items-center" id="navbarResponsive">
                <ul class="navbar-nav mr-auto">
                    {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link"><{{ client_name }}></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link{% block active_client %}{% endblock %}"
                           href="{% url 'client:client-list' %}">client</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link{% block active_aggregation %}{% endblock %}"
                           href="{% url 'aggregation:aggregation-list' %}">集計区分</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link{% block active_process %}{% endblock %}"
                           href="{% url 'process:process-list' %}">process</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link{% block active_estimate %}{% endblock %}"
                           href="{% url 'estimate:estimate_list' %}">estimate</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% block active_metadataImport_list %}{% endblock %}"
                           href="{% url 'customer:customer-import' %}">得意先マスタインポート</a>
                    </li>
                    <li class="nav-item d-flex align-items-center">
                        <!-- Example single danger button -->
                        <div class="btn-group">
                            <button type="button" class="btn btn  mx-1 btn-secondary dropdown-toggle"
                                    data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false">
                                マスターメンテ
                            </button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="{% url 'segment:segment-list' %}">部門マスタ</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="{% url 'user:user-list' %}">担当者マスタ</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="{% url 'construction:construction-list' %}">工事区分マスタ</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="{% url 'unit:unit-list' %}">単位マスタ</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="{% url 'customer:customer-list' %}">得意先マスタ</a>
                                <div class="dropdown-divider"></div>
                                <!--                                <a class="dropdown-item" href="#">協力会社一覧</a>-->
                                <!--                                <div class="dropdown-divider"></div>-->

                            </div>
                        </div>
                    </li>
                    {% endif %}
                </ul>
                <ul class="navbar-nav">
                    {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link">ユーザー名：{{ user.get_username }}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'account_logout' %}">Log Out</a>
                    </li>
                    {% else %}
                    <li class="nav-item {% block active_signup %}{% endblock %}">
                        <a class="nav-link" href="{% url 'account_signup' %}">Sign Up</a>
                    </li>
                    <li class="nav-item {% block active_login %}{% endblock %}">
                        <a class="nav-link" href="{% url 'account_login' %}">Log In</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>


    {% block header %}{% endblock %}
    {% if messages %}
    <div class="container">
        <div class="row">
            <div class="my-div-style w-100">
                <ul class="messages" style="list-style: none;">
                    {% for message in messages %}
                    <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>
                        {{ message }}
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    {% endif %}

    {% block contents%}{% endblock %}

    <!-- Footer -->
    <!--    <footer class="py-1 bg-black" id="my-footer">-->
    <!--        <div class="container px-5">-->
    <!--            <p class="m-0 text-center text-white small">Copyright &copy; kag holdings inc 2025</p>-->
    <!--        </div>-->
    <!--    </footer>-->


</div>
<script>    dhx.setTheme("contrast-light");</script>

</html>